<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Log into Yummy Recipes</title>
</head>

<body>
    <div class="row vh-100">
        <img src="{{ url_for('static', filename='pancakes.jpg') }}" alt="login-image"
            class="col-sm p-0 object-fit-cover overflow-hidden">
        <div class="col-sm mt-5">
            <div class="row">
                <div class="col ms-1">
                    <h3>{{acategory.name}}</h3>
                </div>
                <div class="row-sm mb-2 ms-1">
                    <span class="badge text-bg-primary">Edit</span>
                    <span class="badge text-bg-danger">Delete</span>
                    <span class="badge text-bg-success">New Category</span>
                </div>
                <div class="d-flex flex-column px-3 m-auto">

                    <ol class="list-group list-group-numbered">
                        {%for recipe in user_recipes%}
                        <li class="list-group-item"><span class="fw-medium">Recipe:</span>
                            <p>{{recipe.name}}</p>
                            <a class="btn btn-primary" href="#" role="button">View</a>
                        </li>
                        {%endfor%}
                    </ol>

                </div>

            </div>

        </div>
    </div>
</body>

</html>
